<table class='table'>
  <thead>
    <tr>
      <th scope='col'>Product</th>
      <th scope='col'>Price</th>
      <th scope='col'>Quantity</th>
      <th scope='col'>Total</th>
      <th scope='col'>Remove</th>
    </tr>
  </thead>
  <tbody>
    {{#each cartItems as |cartItem|}}
      <tr>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>
          <input id="{{id}}" type="number" value="{{quantity}}" min="0">
          <button class="btn btn-primary editCart" value="{{id}}">Update</button>
        </td>
        <td>{{total}}</td>
        <td><button class="btn btn-primary deleteCart" value="{{id}}">Remove</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>

<h1>Total Price: ${{totalFloat}}</h1>

<script src='/js/editCart.js'></script>
<script src='/js/delCart.js'></script>