<div class='card-container m-auto w-100'>
  <button class='btn btn-primary ml-5'>Proceed To Checkout</button>
  <div class='row'>
    <div class='col-12'>
      <div class='d-flex justify-content-center'>
        <table class='table'>
          <thead class='thread'>
            <tr>
              <th scope='col'>Product</th>
              <th scope='col'>Price</th>
              <th scope='col'>Quantity</th>
              <th scope='col'>Total</th>
              <th scope='col'>Remove</th>
            </tr>
          </thead>
          <tbody>
            {{#each cartItems as |cartItem|}}
              <tr>
                <td> {{product.name}}</td>
                <td> {{product.price}}</td>
                <td>
                  <input
                    id='{{id}}'
                    type='number'
                    value='{{quantity}}'
                    min='0'
                    style='width: 50'
                  />
                  <button
                    class='btn btn-primary editCart'
                    value='{{id}}'
                  >Update</button>
                </td>
                <td>{{total}}</td>
                <td><button
                    class='btn btn-primary deleteCart'
                    value='{{id}}'
                  >Remove</button></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class='col-4'>
        <h3> Total Price: {{totalFloat}}</h3>
      </div>
    </div>
  </div>
</div>
<script src='/js/editCart.js'></script>
<script src='/js/delCart.js'></script>