<table class='table'>
  <thead>
    <tr>
      <th scope='col'>Product</th>
      <th scope='col'>Price</th>
      <th scope='col'>Quantity</th>
      <th scope='col'></th>
      <th scope='col'></th>
    </tr>
  </thead>
  <tbody>
    {{#each cartItems as |cartItem|}}
      <tr>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td><input type="number" value="{{quantity}}" min="0"></td>
        <td><button class="btn btn-primary updateCart" value="{{id}}">Update</button></td>
        <td><button class="btn btn-primary deleteCart" value="{{id}}">Remove</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script src='/js/delCart.js'></script>