<div class='jumbotron jumbotron-fluid'>
  <div class='container'>
    <h1 class='display-4 text-center'>Fluid jumbotron</h1>
    <p class='lead'>This is a modified jumbotron that occupies the entire
      horizontal space of its parent.</p>
  </div>
</div>
<div class='card'>
  <div class='page-title'><h1>Post Product</h1></div>
  <form class='product-form'>
    <input type='hidden' id='product-id' value={{product.id}} />
    <div class='form-group'>
      <label>Name:</label>
      <input
        class='form-input'
        type='text'
        id='name'
        value='{{product.name}}'
      />
    </div>
    <div class='form-group'>
      <label>Price:</label>
      <input
        class='form-input'
        type='number'
        id='price'
        value='{{product.price}}'
      />
    </div>
    <div class='form'>
      <label>Stock:</label>
      <input
        class='form-input'
        type='number'
        id='stock'
        value='{{product.stock}}'
      />
    </div>
    <div class='form'>
      <label>Description</label>
      <textarea
        class='form-input'
        type='text'
        id='description'
      >{{product.description}}</textarea>
    </div>
    <div class='form'>
      <label>For Ages:</label><br />
      <input type='checkbox' id='category_1' name='category_1' value='1' />
      <label for='category_1'> 0-3 Months</label><br />
      <input type='checkbox' id='category_2' name='category_2' value='2' />
      <label for='category_2'> 3-6 Months</label><br />
      <input type='checkbox' id='category_3' name='category_3' value='3' />
      <label for='category_3'> 6-12 Months</label><br />
      <input type='checkbox' id='category_4' name='category_4' value='4' />
      <label for='category_4'> 12-18 Months</label><br />
      <input type='checkbox' id='category_5' name='category_5' value='5' />
      <label for='category_5'> 18-24 Months</label><br />
    </div>
    <button type='submit' class='updateBtn'>Update Product</button>
    <button type='submit' class='delBtn'>Delete Product</button>
  </form>

</div>

<script src='/js/editProduct.js'></script>
<script src='/js/delProduct.js'></script>