<div class='card-container m-auto'>

  <div class='card-container m-auto'>
    <div class='d-flex row justify-content-around'>
      <div class='col-12'>
        <h2 class='text-center'>SHOP BY AGE</h2>
        <div class='buttoncolor d-flex justify-content-around flex-wrap'>
          <button class='button-one round'>0-3M</button>
          <button class='button-two round'>3-6M</button>
          <button class='button-three round'>6-12M</button>
          <button class='button-four round'>12-18M</button>
          <button class='button-five round'>18-24M</button>
        </div>
      </div>
    </div>
  </div>

  <div class='d-flex row justify-content-around'>
    {{#each products as |product|}}
      <div
        class='card col-sm-4 col-md-5 m-2 ml-5'
        style='max-width: 18rem; min-width:18rem; border-radius:30px;'
      >

        <h5 class='card-title mt-3'><a href='/products/{{id}}'>{{name}}</a></h5>
        <img
          class='card-img'
          src='/img/assets/placeholder.jpg'
          alt='Card image cap'
        />
        <div class='card-body'>

          <p class='card-text price'>PRICE: ${{price}}</p>
          <p class='card-text'>POSTED BY: {{user.username}}</p>
          <div class='d-flex justify-content-center'>
            <button
              class='btn btn-primary addToCartBtn'
              data-id='{{id}}'
              data-price='{{price}}'
              value='{{id}}'
            >ADD TO CART</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<script src='/js/cart.js'></script>
<script src='/js/homepage.js'></script>