<button class='btn btn-primary'><a class='text-light' href='/profile/new'>
    Add New Product!</a></button>
<div class='d-flex row justify-content-around'>
  {{#each products as |product|}}
    <div
      class='card col-sm-4 col-md-5 m-2 ml-5'
      style='max-width: 18rem; min-width:18rem; border-radius:30px;'
    >
      <h5 class='card-title mt-3'><a href='/products/{{id}}'>{{name}}</a></h5>
      <img
        class='card-img-top'
        src='/img/assets/placeholder.jpg'
        alt='Card image cap'
      />
      <div class='card-body'>

        <p class='card-text'>Price: ${{price}}</p>
        <p class='card-text'>Posted By: {{user.username}}</p>
        <button class='btn btn-primary'><a
            class='text-light'
            href='/profile/edit/{{id}}'
          > Edit Product Listing</a></button>
      </div>
    </div>

  {{/each}}
</div>